<link rel="stylesheet" href="/SitoTema/assets/css/main.css"/>
<div id="wrapper">

<!-- Header -->
<header id="header">
	<h1><strong>Multiverse</strong> by HTML5 UP</h1>
	<nav>
		<ul>
			<li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
		</ul>
	</nav>
</header>	

<div id="main">
	@{
		var db=new DBContext();
		ViewData["Title"] = "Home Page";
	}

	@foreach (var immagine in db.Immagini)
	{
		<article class="thumb">
			<a href="@immagine.linkImmagine" class="image"><img src="@immagine.linkImmagine"/></a>
			<h2>@immagine.Titolo</h2>
			<p>@immagine.Descrizione</p>
		</article>
	}

	@* @for(int i=1;i<6;i++)
	{
		imageThumbs= imagePath1 + i + ".jpg";
		imageFulls= imagePath2 + i + ".jpg";

		<article class="thumb">
			<a href="@imageFulls" class="image"><img src="@imageThumbs"/></a>
			<h2>@Titoli[i]</h2>
			<p>@Descrizione[i]</p>
		</article>

		imageThumbs="";
		imageFulls=""; 
	} *@

</div>
<footer id="footer" class="panel">
	<div class="inner split">
		<div>
			<section>
				<h2>DhamoImages</h2>
				<p style="color:#a0a0a1">DhamoImages è un sito che permette a fotografi di ogni rango di poter pubblicare in maniera completamente gratuita i loro scatti migliori. Ad ogni foto verrà associata ad un titolo e una breve descrizione scritta dal fotografo. Il sito è ancora in sviluppo...</p>
			</section>
			<p class="copyright">
			&copy; Unttled. Design: <a href="http://html5up.net">HTML5 UP</a>.
			</p>
		</div>
	</div>
</footer>